.main_background{

background: url("blackwidow1.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height:100%;
}

.container{
display: flex;
align-items:center;
justify-content:space-around;
background-color: #0000004a;
width: 100%;
height: 40%;
position: absolute;
bottom: 0;
}

.child{
color: white;
font-size: 30px;	

}